<div class="entrypage">
    <h3 class="Netflixlogo"> NETFLIX </h3>

    <div class="signins">
        <button class="signinbutton"><h6> Sign In </h6></button>
    </div>

    <div class="allofNetflix">
        <h1>All of Netflix.</h1>
        <h1>Free for 30 days.</h1>
    </div>

    <h5 class="firstbill">FIRST BILL</h5>
    <h5>Free 30 days</h5>
    <h5 class="dayreminder">3 day reminder</h5>


    <h5 class="emailreminder">We’ll email you a reminder three days before your trial ends. Cancel anytime before 12/2 and you won’t be charged.</h5>

    <div class="trydaysfree">
           <button class="tryfree"><h5>TRY 30 DAYS FREE</h5></button>
    </div>
    
    <div class="learn">
            <button class="learnmore"><h5>LEARN MORE</h5></button>
     </div>
    
</div>