.entrypage{
    background-color: #000000;
    //color: white;
    text-align: center;
    width: 100%;
    height: 700px;
    // border-color: gray;
    // border-style: solid;
    // border-width: 0px 0px 0px 0px;
}

.Netflixlogo{
    background-color: black;
    color: red;
    text-align: left;
}

.signinbutton, .tryfree{
    background-color: red;
    color: white;
    text-align: center;
    position: relative;
}

.learnmore{
    background-color: black;
    color: white;
    text-align: center;
    position: relative;
}
// .signsinbutton{
//     background-color: red;
//     color: white;
//     text-align: center;
//     position: relative;
// }

.firstbill{
    color: gray;
    text-align: center;
}

.signins{
    position: relative;
}

.allofNetflix, .emailreminder, .dayreminder{
    color: white;
    text-align: center;
}
// .Netflixdaysfrees{
//     background-color: red;
//     color: white;
//     position: relative;
//     left: 50%; //it has to be left 50%
//     margin-left: -15%;   //this has to be -0.5 of the width
//     width: 30%;
//     text-align: center;
// }