ul {
    background-color: #323232;
    text-align: center;
    background-origin: content-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100px;
    
}

li{
    width: 100%;
    height: 100%;   
}
