<div class="footer">
  <p>Questions? Call 1-866-579-7172</p>
    <div class="footer-cols">
      <ul class="footer-cols-samelength">
        <li><a href="https://help.netflix.com/en/node/412">FAQ</a></li>
        <li><a href="https://help.netflix.com/en/node/412">Investor Relations</a></li>
        <li><a href="https://devices.netflix.com/en/">Ways To Watch</a></li>
        <li><a href="https://help.netflix.com/en/node/2101">Corporate Information</a></li>
        <li><a href="https://www.netflix.com/browse/genre/839338">Netflix Originals</a></li>
      </ul>
      <ul class="footer-cols-samelength">
        <li><a href="https://help.netflix.com/en/">Help Center</a></li>
        <li><a href="https://jobs.netflix.com/">Jobs</a></li>
        <li><a href="https://help.netflix.com/legal/termsofuse">Terms Of Use</a></li>
        <li><a href="https://help.netflix.com/en/contactus">Contact Us</a></li>
      </ul>
      <ul class="footer-cols-samelength">
        <li><a href="https://www.netflix.com/Login?nextpage=https%3A%2F%2Fwww.netflix.com%2Fyouraccount">Account</a></li>
        <li><a href="https://www.netflix.com/redeem">Redeem Gift Cards</a></li>
        <li><a href="https://help.netflix.com/legal/privacy">Privacy</a></li>
        <li><a href="fast.com">Speed Test</a></li>
      </ul>
      <ul class="footer-cols-samelength">
        <li><a href="https://media.netflix.com/en/">Media Center</a></li>
        <li><a href="https://www.netflix.com/gift-cards">Buy Gift Cards</a></li>
        <li><a href="https://help.netflix.com/legal/privacy#cookies">Cookie Preferences</a></li>
        <li><a href="https://help.netflix.com/legal/notices">Legal Notices</a></li>
      </ul>
    </div>
</div>

